{% extends 'Base.html' %}
{% block title %} Registro de usuarios {% endblock %} 

{% block content %}
<h1>Registro de usuario</h1>

<form action="" method="post">
    <label for="username">Usuario (8 caracteres)</label>
    <input type="text" name="username" id="username" required>
    <br><br>
    
    <label for="password">Contraseña (6 Caracteres)</label>
    <input type="password" name="password" id="password" required>    
    <br><br>

    <input type="submit" value="Registrar">

</form>
{% endblock %}