body { /* Aqui con la marca de body lo que hacemos es llamar
    a todos los body que existan ern el html por ende todos 
    ellos tendran lo que diga entre las llaves*/ 
    font-family: arial,Helvetica, sans-serif; /*Font-family
    es la tipografia de la letra*/
    background-color: #123;/*Este es color del fondo, en si
    lo que se hace es cambia el color*/
}

h1 {
    color:#11ff99;/*Este cambia el color de las letras por el 
    que queramos*/
}

li{
    Color:rgb(100, 120, 200);
}

form {
    color:#11ff55;
}