@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#f82f4a7e;
    --color-secundary:#ee3333;
    --color-third:#ff5555;
    --boton-padding: 20px 40px;
    --color-M-1:#7900ff;
    --color-fourth:#ff00ff;
    --cinnabar-50: #fef2f2;
    --cinnabar-100: #fee2e2;
    --cinnabar-200: #fecaca;
    --cinnabar-300: #fca5a5;
    --cinnabar-400: #f87171;
    --cinnabar-500: #ee3333;
    --cinnabar-600: #dc2626;
    --cinnabar-700: #b91c1c;
    --cinnabar-800: #991b1b;
    --cinnabar-900: #7f1d1d;
    --cinnabar-950: #450a0a;


}

*{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    margin-right:0px;
}

/*Aca empieza El HOME*/

.container{
    width: 90%;
    margin:0 auto;
    padding: 0px 0;
    overflow: hidden;
}

.top{
    translate: 0px 80px;
}

.imagenes__top{
    text-align: center;
    height: 120px;
    
}

.top__cta__button{
    text-align: right;
    text-decoration: none;      
    translate: -10px -55px;
    
}

.contactame{
    font-family: 'Quicksand', sans-serif;
    border-radius: 10%;
    padding: 8px 8px;
    width: 100px;
    background:linear-gradient(165deg,var(--cinnabar-300) 10%,var(--cinnabar-100) 100%);
    color: var(--cinnabar-500);
    text-shadow:1px 1px 1px #000;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    animation: fadeIn 2s ease-in-out forwards;
    transition:all 1s ease-in-out;
}

.contactame:hover{
    background:linear-gradient(165deg,var(--cinnabar-800) 10%,var(--cinnabar-600) 100%);
    color: #ffffff;
    text-shadow:1px 1px 1px #000;
    
}

.Img{
    background-image:url('../img/Ciudad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.Imagen__presentation{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit:cover;
    object-position: 0px -25px;   
}

.Medium{
    translate: 0px 158px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.titulos__top{  
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0px;
}

.titulo__top{
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    translate: 0px 15px;
    text-shadow:3px 3px  2px #000;
    color: var(--color-secundary);
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.subtitle1__top{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 0px;
    translate: 0px 5px;
    text-shadow:1px 1px  1px #333;
    color: #0f0f0f;
    animation: mover1 2s ease-in-out forwards;
}

@keyframes mover1 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.subtitle2__top{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow:1px 1px  1px #333;
    color: #0a0a0a;
    translate: 0px 5px;
    margin-bottom: 5px;
    animation: mover2 2s ease-in-out forwards;
}


@keyframes mover2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.links__top{
    margin-top: 10px;
    text-align: center;
    padding: 20px 20px;
}
    
.nav__icon__top{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 500;
    background: linear-gradient(170deg,var(--cinnabar-300) 30%,var(--cinnabar-100) 70%);
    padding: 6px 10px;
    border-radius: 30%;
    margin: 20px 20px 20px 20px;
    text-decoration: none;
    color: var(--cinnabar-700);
    text-shadow:1px 1px 1px white;
    transition: all 1s ease-in-out;
    animation: fadeIn 2s ease-in-out forwards;
}

.nav__icon__top:hover{
    background: linear-gradient(170deg,var(--cinnabar-600) 30%,var(--cinnabar-400) 70%);
    color:#fff;
    text-shadow:1px 1px 1px #000;
}

.footer{
    margin-top: 0px;
    padding-top: 0px;
    translate: 0px 130px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Empieza con opacidad 0 */
    }
    to {
        opacity: 1; /* Termina con opacidad 1 */
    }
}

.container__redes{
    width: 100%;
    height: 0%;    
}

.nav__redes{
    object-position: center;
    padding-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 40px;
    height: 0px;
    font-family: 'Quicksand', sans-serif ;
    color: var(--cinnabar-700);

}

.fa-square-x-twitter:hover{
    transform: rotate(0deg);
    box-shadow: 0px 0px 7px #000 inset,
                0px 0px 7px #000;
    color: #000;
    border-color: #000;
    background-color: #fff;
}

.fa-square-x-twitter{
    border:1px solid var(--cinnabar-700);
    color: var(--cinnabar-700);
    padding: 10px 10px;  
    transform: rotate(360deg);
    cursor: pointer;
    font-size: 130%;
    border-radius: 50%;
    background-color: var(--cinnabar-200);
    transition: all 1.4s ease-in-out;
    translate: 0px 50px;
    margin-bottom: 0px;
}

.fa-square-github:hover{
    transform: rotate(0deg);
    box-shadow: 0px 0px 7px #559 inset,
                0px 0px 7px #559;
    color: #559;
    border-color: #559;
    background-color: #fff;    
}

.fa-square-github{
    border:1px solid var(--cinnabar-700);
    color: var(--cinnabar-700);
    padding: 10px 10px;  
    transform: rotate(360deg);
    cursor: pointer;
    translate: 0px 40px;
    font-size: 130%;
    border-radius: 50%;
    background-color: var(--cinnabar-200);
    transition: all 1.4s ease-in-out;
    translate: 0px 50px;
    margin-bottom: 0px;
}

.fa-linkedin:hover{
    transform: rotate(0deg);
    box-shadow: 0px 0px 7px #009 inset,
                0px 0px 7px #009;
    color:#009;
    border-color: #009;
    background-color: #fff;   
            }

.fa-linkedin{
    border:1px solid var(--cinnabar-700);
    color: var(--cinnabar-700);
    padding: 10px 10px;  
    transform: rotate(360deg);
    cursor: pointer;
    font-size: 130%;
    border-radius: 50%;
    background-color: var(--cinnabar-200);
    transition: all 1.4s ease-in-out;
    translate: 0px 50px;
    margin-bottom: 0px;
}

.git_anidado:hover{
    color:#559;
    }

.git_anidado{
    color:#fff;
    transition: color 2s ease-in-out;
}

.git{
    text-align: left;
    translate: 0px 44px;
}

.link_anidado:hover{
    color:#009;
}

.link_anidado{
    color:#fff;
    transition: color 3s ease-in-out;
}

.linkedin{
    translate: 0px 35px;
}

.x_anidado:hover{
    color:#000;
}

.x_anidado{
    color:#fff;
    transition: color 3s ease-in-out;
}

.twitter{
    text-align: right;
    translate: 0px 35px;
}
 /*------------------------------------------------------------Aqui Comienza el AboutMe
------------------------------------------------------------*/
.general{
    text-align: center;
    font-family: 'Quicksand', sans-serif ;
    font-weight: 700;
    padding-top: 0%;
    max-width: 100%;
}

.nav__pag{
    text-decoration: none;
    padding-top: 3%;
    padding-bottom: 3%;
    background:linear-gradient(var(--cinnabar-700) 30%,var(--cinnabar-300) 80%);
}

.Home1{
    text-align: left;
    border-radius: 30%;
    margin: 11% 11%;
    padding: 7px 7px;
    color: var(--cinnabar-700);
    background: var(--cinnabar-200);
    transition: all 1s ease-in-out;
}

.Home1:hover{
    color: var(--cinnabar-200);
    background: var(--cinnabar-700);
    box-shadow: 0px 0px 3px var(--cinnabar-200) inset,
                0px 0px 3px var(--cinnabar-200) ;
    text-shadow:1px 1px 1px #000 ;
}

.Skills1{
    text-align: center;
    border-radius: 30%;
    margin: 11% 11%;
    padding: 7px 7px;
    color: var(--cinnabar-700);
    background: var(--cinnabar-200);
    transition: all 1s ease-in-out;
}

.Skills1:hover{
    color: var(--cinnabar-200);
    background: var(--cinnabar-700);
    box-shadow: 0px 0px 3px var(--cinnabar-200) inset,
                0px 0px 3px var(--cinnabar-200) ;
    
    text-shadow:1px 1px 1px #000 ;
}

.Projects1{
    text-align: right;
    border-radius: 30%;
    margin: 11% 11%;
    padding: 7px 7px;
    color: var(--cinnabar-700);
    background: var(--cinnabar-200);
    transition: all 1s ease-in-out;
}

.Projects1:hover{
    color: var(--cinnabar-200);
    background: var(--cinnabar-700);
    box-shadow: 0px 0px 3px var(--cinnabar-200) inset,
                0px 0px 3px var(--cinnabar-200) ;
    text-shadow:1px 1px 1px #000 ;
}

.texto__top1{
    background:linear-gradient(var(--cinnabar-300) 10%, var(--cinnabar-100)90%);
    padding-bottom:1%;
}

.Titulo1{
    color: var(--color-secundary);
    text-shadow:3px 3px  2px #000;
    font-size: 400%;
    font-family: 'Oswald', sans-serif;
}

.subtitles__group{
    background: linear-gradient(var(--cinnabar-100) 10%, #fff 80%);
}

.subtitle1{
    text-shadow: 1px 1px 1px #fff;
    padding-top: 1.5%;
    padding-bottom:0%;
    font-size: 150%;
}

.subtitle2{
    text-shadow: 1px 1px 1px #fff;
    padding-bottom: 2%;
    padding-top: 0%;
    font-size: 150%;
}

.subtitle3{
    padding-bottom: 0.3%;
    max-width: 80%;
    margin-left: 25%;
    margin-right: 25%;
}

.last__works{
    padding-top:3% ;
    padding-bottom: 3%;
    text-align: center;
}

.Works{
    background-color:#fff;
    
}

.work{
    display:grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.becario{

}

.becario__img__1left{
    scale: 0.3;
}

.Practicante__img__rigth{
    scale: 0.3;
}

.practicante{

}

.teacher{

}

.teacher__img__2left{
    scale: 0.3;
}