@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#f82f4a7e;
    --color-secundary:#ee3333;
    --color-third:#ff5555;
    --boton-padding: 20px 40px;
    --color-M-1:#7900ff;
    --color-fourth:#ff00ff;
    --cinnabar-50: #fef2f2;
    --cinnabar-100: #fee2e2;
    --cinnabar-200: #fecaca;
    --cinnabar-300: #fca5a5;
    --cinnabar-400: #f87171;
    --cinnabar-500: #ee3333;
    --cinnabar-600: #dc2626;
    --cinnabar-700: #b91c1c;
    --cinnabar-800: #991b1b;
    --cinnabar-900: #7f1d1d;
    --cinnabar-950: #450a0a;


}

.container{
    width: 90%;
    margin:0 auto;
    padding: 0px 0;
    overflow: hidden;
}


.top{
    translate: 0px 80px;
}

.imagenes__top{
    text-align: center;
    height: 120px;
    
}



.top__cta__button{
    text-align: right;
    text-decoration: none;      
    translate: -10px -55px;
    
}

.contactame{
    font-family: 'Quicksand', sans-serif;
    border-radius: 10%;
    padding: 8px 8px;
    width: 100px;
    background:linear-gradient(165deg,var(--cinnabar-800) 10%,var(--cinnabar-600) 100%);
    color: #ffffff;
    text-shadow:1px 1px 1px #000;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    }

.Imagen__presentation{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit:cover;
    object-position: 0px -25px;
    
    
}

.Img{
    background-image:url('../img/Ciudad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.Medium{
    translate: 0px 158px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.titulos__top{  
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0px;
}

.titulo__top{
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    translate: 0px 15px;
    text-shadow:3px 3px  2px #000;
    color: var(--color-secundary);
    
}

.subtitle1__top{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 0px;
    translate: 0px 5px;
    text-shadow:1px 1px  1px #333;
    color: #0f0f0f;
}

.subtitle2__top{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow:1px 1px  1px #333;
    color: #0a0a0a;
    translate: 0px 5px;
    margin-bottom: 5px;
}


.links__top{
    margin-top: 10px;
    text-align: center;
    padding: 20px 20px;
}
    
.nav__icon__top{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 500;
    background: linear-gradient(170deg,var(--cinnabar-300) 30%,var(--cinnabar-100) 70%);
    padding: 6px 10px;
    border-radius: 30%;
    margin: 20px 20px 20px 20px;
    text-decoration: none;
    color: var(--cinnabar-700);
    text-shadow:1px 1px 1px white;
    transition: all 1s ease-in-out;
}

.nav__icon__top:hover{
    background: linear-gradient(170deg,var(--cinnabar-600) 30%,var(--cinnabar-400) 70%);
    color:#000;
    }

.footer{
    margin-top: 0px;
    padding-top: 0px;
    translate: 0px 130px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

.container__redes{
    width: 100%;
    height: 0%;    
}

.nav__redes{
    object-position: center;
    padding-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 40px;
    height: 0px;
}

.fa-brands{
    font-size: 130%;
    border-radius: 50%;
    background-color: var(--cinnabar-200);
    transition: all 1.4s ease-in-out;
    translate: 0px 50px;
    margin-bottom: 0px;
}

.fa-square-x-twitter:hover{
    transform: rotate(0deg);
    box-shadow: 0px 0px 7px #000 inset,
                0px 0px 7px #000;
    color: #000;
    border-color: #000;
    background-color: #fff;
            }

.fa-square-x-twitter{
    border:1px solid var(--cinnabar-700);
    color: var(--cinnabar-700);
    padding: 10px 10px;  
    transform: rotate(360deg);
    cursor: pointer;
}

.fa-github:hover{
    transform: rotate(0deg);
    box-shadow: 0px 0px 7px #559 inset,
                0px 0px 7px #559;
    color: #559;
    border-color: #559;
    background-color: #fff;    
}

.fa-github{
    border:1px solid var(--cinnabar-700);
    color: var(--cinnabar-700);
    padding: 10px 10px;  
    transform: rotate(360deg);
    cursor: pointer;
}

.fa-linkedin:hover{
    transform: rotate(0deg);
    box-shadow: 0px 0px 7px #009 inset,
                0px 0px 7px #009;
    color:#009;
    border-color: #009;
    background-color: #fff;   
            }

.fa-linkedin{
    border:1px solid var(--cinnabar-700);
    color: var(--cinnabar-700);
    padding: 10px 10px;  
    transform: rotate(360deg);
    cursor: pointer;
}

.redes__letras{
    translate: 0px 0px;
    font-family: 'Quicksand', sans-serif ;
    margin-right: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-top:0%;
    transition: all 1s ease-in-out;
}

.git:hover{
    color: var(--cinnabar-700);
}

.git{
    text-align: left;
    translate: 260px 38px;
    color: #fff;

}

.linkedin:hover{
    color: var(--cinnabar-700);
}

.linkedin{
    text-align: center;
    padding-top: 0px;
    translate: -35px -200px;
        
}

.twitter:hover{
    color: var(--cinnabar-700);
}

.twitter{
    text-align: right;
    translate: -220px -40px;
    margin: 0px 0px 0px 0px;
}
