@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#f82f4a7e;
    --color-secundary:#ee3333;
    --color-third:#ff5555;
    --boton-padding: 20px 40px;
    --color-M-1:#7900ff;
    --color-fourth:#ff00ff;
}

.container{
    width: 90%;
    margin:0 auto;
    padding: 0px 0;
    overflow: hidden;
}


.top{
    translate: 0px 80px;
}

.imagenes__top{
    text-align: center;
    height: 120px;
    
}



.top__cta__button{
    text-align: right;
    text-decoration: none;      
    translate: -10px -55px;
    
}

.contactame{
    font-family: 'Quicksand', sans-serif;
    border-radius: 10%;
    padding: 8px 8px;
    width: 100px;
    background:linear-gradient(165deg,var(--color-secundary) 10%,var(--color-primary) 100%);
    color: #ffffff;
    text-shadow:1px 1px 1px #000;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    }

.Imagen__presentation{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit:cover;
    object-position: 0px -25px;
    
    
}

.Img{
    background-image:url('../img/Ciudad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.Medium{
    translate: 0px 158px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.titulos__top{  
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0px;
}

.titulo__top{
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    translate: 0px 15px;
    text-shadow:3px 3px  2px #000;
    color: var(--color-secundary);
    
}

.subtitle1__top{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 0px;
    translate: 0px 5px;
    text-shadow:1px 1px  1px #333;
    color: #0f0f0f;
}

.subtitle2__top{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow:1px 1px  1px #333;
    color: #0a0a0a;
    translate: 0px 5px;
    margin-bottom: 5px;
}


.links__top{
    margin-top: 10px;
    text-align: center;
    padding: 20px 20px;
}
    
.nav__icon__top{
    font-family: 'Quicksand', sans-serif;
    text-shadow: #fafafa;
    background: linear-gradient(170deg,var(--color-third) 30%,var(--color-primary) 70%);
    padding: 6px 10px;
    border-radius: 30%;
    margin: 20px 20px 20px 20px;
    text-decoration: none;
    color: #000;
    text-shadow:1px 1px 1px white;
    font-size: large;
    font-weight: 500;
}

.footer{
    margin-top: 0px;
    padding-top: 0px;
    translate: 0px 155px;
    text-align: center;
    text-decoration: none;
        
}

.container__redes{
    background-color: #000;
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
    
}

.nav__redes{
    object-position: center;
    padding-bottom: 9.3%;
    display: flex;
    justify-content:space-evenly;
    padding: 5%;
}

.fa-brands{
    line-height: 55px;
    border-radius: 50%;
    border:1px solid #fff;
    padding: 10px 10px;
    }