<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Alejandro Corona | About Me</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/estilos.css')}}">
</head>

<body>
    <header class="top1">
        <div class="general">
            <nav class="nav__pag">
                <a href="{{url_for('Home')}}">Home</a>
                <a href="#">Skills</a>
                <a href="#">Projects</a>
            </nav>
            <h1 class="Titulo1">David Alejandro Cervantes Corona</h1>    
            <p class="subtitle1">Graduate of the Universidad Politecnica de Aguascalientes</p>
            <p class="subtitle2">with a degree in Electronic Engineering</p>
            <p class="subtitle3">I´m a new engineer apasionate with the development software, I like learn and teached about technologies, because for my is a very importan the software free for all, the knowledge its the advanced of the people.</p>
        </div>
    </header>

    <main class="Works">
        
        <h1 class="last__works">
            My last Jobs
        </h1>
        <div class="work">
            <div class="becario">
                <h1 class="Becario">Manufacturing Intern at Eaton</h1>
                <p class="Becario__lore">For two months I performed activities in the areas of warehouse, engineering and production, working mainly with embedded systems.</p>
            </div>

            <figure class="becario__img__1left">
                <img src="{{url_for('static', filename = 'img/Eaton.png')}}" alt="" class="becario__img">
            </figure>

            <figure class="Practicante__img__rigth">
                <img src="{{url_for('static', filename = 'img/Electronicats.jfif')}}" alt="" class="becario__img">
            </figure>

            <div class="practicante">
                <h1 class="Practicante">Engineering Intern in Electronicats</h1>
                <p class="Practicante__lore">I worked in activities related to the design and 3D
                    printing area, as well as the administrative part.</p>
            </div>

            <div class="teacher">
                <h1 class="Teacher">I was teacher</h1>
                <p class="Teacher__lore">I was work like a teacher in a high school, I teached arduino to children, with they we can finished a diferent projects between them do a line following car and Car RC, Using a bluethoot, in this project we use App Inventor for created a aplication for mobile of the guys</p>
            </div>

            <figure class="teacher__img__2left">
                <img src="{{url_for('static', filename = 'img/Maestro.jpg')}}" alt="" class="becario__img">
            </figure>

        </div>

    </main>

    <footer class="final1">
        <div class="redes1">
            <nav class="redes__list1">
                <a href="https://github.com/AlejandroCorona02" class="fa-brands fa-github" target="_blank"></a>
                <a href="https://www.linkedin.com/in/alejandro-corona-852907270/" class="fa-brands fa-linkedin-in" target="_blank">
                </a>
                <a href="https://twitter.com/AlexCorona02" class="fa-brands fa-x-twitter" target="_blank"></a>
                </nav>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/d0d107786b.js" crossorigin="anonymous"></script>
</body>