<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Alejandro Corona | About Me</title>
</head>

<body>
    <header class="top1">
        <div class="general">
            <h1 class="Titulo1">David Alejandro Cervantes Corona</h1>    
            <p class="subtitle1">Graduate of the Universidad Politecnica de Aguascalientes</p>
            <p class="subtitle2">with a degree in Electronic Engineering</p>
            <p class="subtitle3">I´m a new engineer apasionate with the development software, I like learn and teached about technologies, because for my is a very importan the software free for all, the knowledge its the advanced of the people.</p>
        </div>
    </header>

    <main class="Works">
        <h1 class="last__works">
            My last Jobs
        </h1>
        <div class="work">
            <div class="teacher">
                <h1 class="Teacher">I was teacher</h1>
                <p class="Teacher__lore">I was work like a teacher in a high school, I teached arduino to children, with they we can finished a diferent projects between them do a line following car and Car RC, Using a bluethoot, in this project we use App Inventor for created a aplication for mobile of the guys</p>
            </div>
            <div class="becario">
                <h1 class="Becario">Manufacturing Intern at Eaton</h1>
                <p class="Becario__lore">I worked in activities related to the design and 3D
                    printing area, as well as the administrative part.</p>
            </div>
            <div class="practicante">
                <h1 class="Practicante">Manufacturing Intern at Eaton</h1>
                <p class="Practicante__lore">I worked in activities related to the design and 3D
                    printing area, as well as the administrative part.</p>
            </div>

        </div>
    </main>

    <footer class="final1">
        
    </footer>
</body>