<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Alejandro Corona|Electronic Engineer</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/estilos.css')}}">


</head>

<body>
    <header class="top">
        <div class="imagenes__top">
        <section class="top__cta">
            <nav class="top__cta__button">
                <a href="#" class="contactame">Contactame!</a>
            </nav>
        </section>
        <div class="Img">
            <img src="{{url_for('static',filename = 'img/Me.jpg')}}" class="Imagen__presentation">
        
        </div>

    </header>

    <main class="Medium">
        
        <section class="container titulos__top">
            <h1 class="titulo__top">Alejandro Corona</h1>
            <p class="subtitle1__top">Electronic engineer</p>
            <p class="subtitle2__top">Passionate about the software development field, hoping to become a great full-stack developer someday.</p>
        </section>

        <section class="container links__top">
            <nav class="nav__top">
                <a href="#" class="nav__icon__top">About me</a>
                <a href="#" class="nav__icon__top">Skills</a>
                <a href="#" class="nav__icon__top">Projects</a>                

            </nav>
        </section>

    </main>

    <footer class="footer">
        <div class="container__redes">
            <nav class="nav__redes">
                <a href="https://github.com/AlejandroCorona02" class="fa-brands fa-github" target="_blank"></a>
                <a href="https://www.linkedin.com/in/alejandro-corona-852907270/" class="fa-brands fa-linkedin" target="_blank"></a>
                <a href="https://twitter.com/AlexCorona02" class="fa-brands fa-square-x-twitter" target="_blank"></a>
            </nav>
        </div>
        <div class="redes__letras">
        <p class="git">Conoce mi avance!</p>
        <p class="linkedin"><br></p>¿Te interesa trabajar conmigo?</p>
        <p class="twitter"><br>Revisa mis actualizaciones!</p>
        
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/d0d107786b.js" crossorigin="anonymous"></script>
</body>