<!--Lo que se hace en este codigo es tratar de poner lo mas general en las plantillas html para que en futuros 
archivos no sea necesario repetirlo y solo coloquemos lo necesario-->
<!DOCTYPE html>
<html>
    <head>
        <title>Mi primera pagina - {% block title %}{% endblock%}</title><!-- Con lo que hicimos dentro de las
        llaves indicamos que existe un bloque, que en este caso es de titulo, en la primera llave le damos un 
        nombre y en la segunda simplemente cerramos-->
            <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    </head>    
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('Index') }}" > Home </a></li>
                <li><a href="{{ url_for('Prueba') }}" > Prueba </a></li>
                <li><a href="{{ url_for('Contenido', data = My_data) }}" > Variables </a></li>
                <li><a href="{{ url_for('code',code = 'print(code)') }}" > Code </a></li>
                <li><a href="{{ url_for('Registro') }}" > Formulario </a></li>
                <li><a href="{{ url_for('Registro2') }}" > Formulario Especifico</a></li>

            </ul>
        </nav>
        {% block content %}<!-- Aqui igual funciona de la misma manera-->
        
        {% endblock%}
 <script src ="{{ url_for ('static', filename = 'js/main.js')}} "> </script>
    </body>

    </html>